/*-------------igrowl icon css------------*/
.igrowl-title, .igrowl-message {
    font-size: 14px;
}

.igrowl-message {
    line-height: 18px;
}

.i-times:before {
    content: "\e600";
    font-size: 20px !important;
}

.igrowl {
    z-index: 99999;
}

.igrowl-icon {
    font-size: 34px;
}

.header-action .same-style-2 {
    margin-right: 9px;
}
.full-width{
    width:100%;
}
