/*-------------igrowl icon css------------*/
.igrowl-title, .igrowl-message {
    font-size: 14px;
}

.igrowl-message {
    line-height: 18px;
}

.i-times:before {
    content: "\e600";
    font-size: 20px !important;
}

.igrowl {
    z-index: 99999;
}

.igrowl-icon {
    font-size: 34px;
}

.header-action .same-style-2 {
    margin-right: 9px;
}

.full-width {
    width: 100%;
}

.header-action .same-style-2 {
    line-height: 1;
    margin-right: 13px;
}
.first_seventh {
    margin-right: 1rem;
}
@media (max-width: 1495px) and (min-width: 1270px){
    .prod_right {
        padding-left: 28px !important;
    }
}
.img_zoom{
    margin:0;
}
.big_img{
    height:auto;
}.single-product-wrap {
     width: 220px !important;
 }
 .help-block{
     font-style: italic;
     color:red;
 }
