/*-------------igrowl icon css------------*/
.igrowl-title, .igrowl-message {
    font-size: 14px;
}

.igrowl-message {
    line-height: 18px;
}

.i-times:before {
    content: "\e600";
    font-size: 20px !important;
}

.igrowl {
    z-index: 99999;
}

.igrowl-icon {
    font-size: 34px;
}

.header-action .same-style-2 {
    margin-right: 9px;
}

.full-width {
    width: 100%;
}

.header-action .same-style-2 {
    line-height: 1;
    margin-right: 13px;
}

.first_seventh {
    margin-right: 1rem;
}

@media (max-width: 1495px) and (min-width: 1270px) {
    .prod_right {
        padding-left: 28px !important;
    }
}

.img_zoom {
    margin: 0;
}

.big_img {
    height: auto;
}

.single-product-wrap {
    width: 220px !important;
}

.help-block {
    font-style: italic;
    color: red;
}

.updatebtn {
    height: 31px;
    padding: 0 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.first_seventh label {
    display:block;
}
.first_seventh label input {
    height: 17px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text {
    overflow: hidden;
    padding-top: 0px;
}
.quotebutton button {
    background-color: #00a651;
}
.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #3b59c9;
    color: white;
}
.paycopy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #009AF1;
}
.subnowbtn {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    background-color: #02a651;
    border: unset;
}
h1, h2, h3, h4, h5, h6 {
    color: #3c59c9;
    font-weight: 400;
    margin-top: 0;
}
.header-action .same-style-2 a span.green {
    background-color: #02a651;
}
.pro_buttons button {
    background-color: #02a651;
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    margin-right: 10px;
    font-weight: bold;
}
.footsoc i {
    margin-right: 10px;
    font-size: 16px;
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    width: 34px;
    vertical-align: middle;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #02a651;
    color: white !important;
}
.categori-search-wrap.categori-search-wrap-modify-3 .search-wrap-3 form button {
    color: #ffffff;
    height: 100%;
    right: 0;
    min-height: 41px;
    padding: 0 20px;
    background-color: rgb(60 89 201);
}
.trades p {
    color: rgb(60 89 201);
}